.modern-radio-container {
  margin: 10px 0px;
  display: flex;
  cursor: pointer;
  user-select: none;
  position: relative;
}

.radio-outer-circle {
  width: 18px;
  height: 18px;
  min-width: 18px;
  min-height: 18px;
  border: 2px solid #565454;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  transition: all 0.1s linear;
}

.radio-inner-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #686d73;
  transition: all 0.1s linear;
}
.unselected {
  border: 2px solid #666;
}
.unselected-circle {
  width: 0;
  height: 0;
}
.helper-text {
  color: #666;
  padding-right: 8px;
  margin-top: -0.5%;
}
#small2 {
  padding-top: 5%;
  width: 50vw;
  /* transform: translateX(50%); */

}
#small3{
  padding-top: 4%;
  width: 35vw;
  margin-bottom: 4%;
  transform: translateX(20%);

}
#small4{
  padding-top: 4%;
  width: 35vw;
  margin-bottom: 4%;
  transform: translateX(20%);

}
.correct{
  background-color: #0ec29e;
  height: 35px;
  width: 43vw;
  opacity: 50%;
  margin-left: 1%;
  transform: translateY(-290%);
}
.incorrect{
  background-color: #ea1f1f;
  height: 35px;
  width: 43vw;
  opacity: 50%;
  margin-left: 1%;
  transform: translateY(-200%);
}
.p1{
  font-weight: bold;
  color: #686d73;
  margin-top: 0px;
  font-size: 15px;
}
.p2{
  font-weight: bold;
  color: #828488;
  margin-top: -10px;
  font-size: 15px;
}
.p3{
  font-weight: bold;
  color: #828488;
  margin-top: -20px;
  font-size: 14px;

}
.title2 {
  font-weight: bold;
  font-size: 15px;
  color: rgb(22, 121, 70);
  display: flex;
}
.title3 {
  font-weight: bold;
  font-size: 15px;
  color: rgb(240, 47, 47);
  display: flex;
}
.title1 {
  font-size: 15px;
  color: rgb(22, 121, 70);
  display: flex;
}
.smally{
  color: #666;
  font-size: 13px;
  width: 40vw;
  margin-left: 2%;
  padding: 13px 0px;
}
.title {
  font-size: 45px;
  color: rgb(22, 121, 70);
  display: flex;
}
.card2 {
  box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25);
  display: flex;
}
@media only screen and (max-width: 768px) {
  a {
    display: none;
  }
  .card2-body .card2-text {
    margin: 0;
  }
}
.btn{
  margin: 0px 20px;
  background-color: #0ec29e ;
  border: none;
  width: 30%;
  transform: translateX(70%); 
}
.btn2{
  background-color: #3007a1 ;
  border: none;
  width: 30%;
  transform: translateX(70%); 
}

@media only screen and (min-width: 830px) {
  .card2 {
    flex-direction: row;
    align-items: center;
  }
  .table1 {
    width: 100%;
  }
}